@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.left {

  margin: 0;
  font-family: "Bai Jamjuree";
}
.current-weather {
  border: 2px solid red;
  

}
.current-weather h1 {
  color: #fff;
  font-size: 4.5rem;
}
.details_container {
  width: 100%;
  border: 1px solid yellow;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1%;
}

.details_container p span {
  padding-right: 4%;
}
.details_container p {
  padding: 1%;
  /* width: 400px; */
  font-size: 1.2rem;
  /* border: 2px solid red; */
}
.wind{
    border: 2px solid red;
    width:350px;
    font-size: 20px;
    color: whitesmoke;
}
.pressure{
    border: 2px solid red;
    width: 350px;
    font-size: 20px;
    color: whitesmoke;

}
.icon-temp {

  margin-left: 0;

  display: flex;
  align-content: space-around;
  margin-bottom: 4%;
    border: 2px solid gold;

}
.icon-temp img {
    width: clamp(50px, 7vw, 130px);
    height: clamp(50px, 7vw, 130px);
/* border: 5px solid orange;                */
  }
.icon-temp h1 {
    font-size: clamp(120px, 3vw, 32px);
  color: white;

  align-items: center;
}




.lat_lon {
  display: flex;
}
#icon {
  width: 100%;
  /* border: 2px solid white; */
  height: 100%;
}

.icon_tem_div {
  width: 100%;
  height: 100%;
}


/* border:1px solid greenyellow */


/*  border:1px solid greenyellow */

.search-box {
  position: absolute;
  width: 350px;

  height: 35px;
  transform: translate(0%, 30%);
}

.search-box input[type="text"] {
  background: #fff;
  width: 270px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 15px;
  border-radius: 3px 0 0 3px;
}
.search-box input[type="submit"] {
  position: relative;
  background: #fff;
  width: 70px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 15px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  background: rgb(255, 162, 0);
  margin-left: 3px;
  box-shadow: inset 0 0 0 0 rgb(254, 200, 3);
}
.search-box input[type="submit"]:hover {
  box-shadow: inset 70px 0 0 0 darkblue;
  color: #fff;
  transition: ease-out 0.2s;
}
