@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.days_container {
  display: flex;
  flex-wrap: wrap;
  width:100%;
justify-content: space-between;
  /* justify-content: flex-start; */
  position: relative;
  margin-top: 50px;
  flex-wrap: wrap;
  font-family: 'Bai Jamjuree';
  border: 2px solid rgb(128, 124, 133);
}

.days {
  /* height: 30vh; */
  backdrop-filter: blur(11px); 
  background-color: rgba(255, 255, 255, 0.745); 
  
  width: 220px;
  /* margin: 1% auto; */
  border-radius: 10px;
  padding: 3% 2% 4% 2%;
  background: inherit;
  /* background: rgba(255, 255, 255, 0.557); */
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  /* border: 2px solid red; */
}
.temp {
  display: flex;
  align-items: center;
}

.forecast_details {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.081);
  color:darkblue;
  font-size: 13px;
  /* padding: 8px; */
}
