@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* desktop:1200px; */
/* laptop:992px */
/* tablet:768px; */
/* phone:480px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main_container{
  width:100vw;
  height: 100vh;
align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-position: center;
  /* justify-content: last baseline; */
 gap: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
border: 3px solid red;
    margin: 0;
    padding: 0;
  }
/* 
@media screen and (mas-width:768px){
  #main_container{
  flex-wrap: wrap;
  ;
    border: 3px solid green;
  }
} */

